src/main/app/sharedproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<flow name="log" processingStrategy="queued-asynchronous">
        <vm:inbound-endpoint exchange-pattern="one-way" path="log" doc:name="VM"/>
        <set-variable variableName="loggingFlow" value="log#[payload.logLevel]" doc:name="Set loggingFlow flowVar"/> 
        <set-payload value="LogEvent [correlationId=#[payload.correlationId], host=#[payload.host], applicationName=#[payload.applicationName], flowName=#[payload.flowName], message=#[payload.message]] " doc:name="Set Payload to message for log"/>
        <flow-ref name="#[loggingFlow]" doc:name="Flow Reference"/>
        <catch-exception-strategy doc:name="Catch_Exception_Strategy">
            <logger message="Unexpected Error [correlationId=#[payload.correlationId], message=#[exception.?cause.?message or exception.?cause or 'Unexpected Exception']]" level="ERROR" category="com.mycompany.esb.log" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="logERROR">
        <logger message="#[payload]" level="ERROR" category="com.mycompany.esb.log" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="logINFO">
        <logger message="#[payload]" level="INFO" category="com.mycompany.esb.log" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="logDEBUG">
       <logger message="#[payload]" level="DEBUG" category="com.mycompany.esb.log" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="buildLogEventAndLog">
        <set-variable variableName="applicationName" value="#[app.name]" doc:name="set applicationName flowVar"/>
        <set-variable variableName="hostName" value="#[server.host]" doc:name="set hostName flowVar"/>
        <set-variable variableName="logLevel" value="#[flowVars.logLevel == empty ? com.mycompany.esb.logging.model.LogLevel.INFO : flowVars.logLevel]" doc:name="set logLevel flowVar to INFO if not set"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload>
		    	<![CDATA[
			    	%dw 1.0
					%output application/java
					---
					{
						applicationName: flowVars.applicationName,
						correlationId: sessionVars.correlationId,
						host: flowVars.hostName,
						flowName: flowVars.flowName,
						message: payload,
						logLevel: flowVars.logLevel
					}]]>
			</dw:set-payload>
        </dw:transform-message> 
        <vm:outbound-endpoint exchange-pattern="one-way" path="log" doc:name="VM"/>
    </sub-flow>
</mule>
